[Unit]
Description=OpenTherm gateway service for Newbie
Requires=qemu-kvm.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/cycler.sh new_otgw.py 60
Restart=on-failure

[Install]
WantedBy=multi-user.target
